<!-- <div class="home-banner">
  <div id="welcome-header" style="color: black">CLASSIC COCKTAILS</div>
</div> -->




<div class="banner">
    <div class="banner-container">
      <h1 id="welcome-message">Click to drink!</h1>
      <i class="fas fa-chevron-down fa-3x" id="arrow" style="color:#50a013"></i>
    </div>
</div>

  <div id="welcome-header">CLASSIC COCKTAILS</div>
  <div class="container" id="cocktails">
    <% @cocktails.each do |cocktail| %>
      <div class="card bg-light" style="width: 16rem;">
        <img src="<%= cocktail.image.empty? ? @generic : cocktail.image %>" class="card-img-top" alt="<%= cocktail.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text"><%= cocktail.directions[0..70] %>...</p>
          <%= link_to "See details", cocktail_path(cocktail), { class: "btn btn-outline-primary btn-sm" } %>
        </div>
      </div>
    <% end %>
  </div>
<hr>

<div class="add-button-container">
  <div class="add-button-container-header">ADD A COCKTAIL</div>
  <%= link_to "<i class='fas fa-cocktail'></i>".html_safe, new_cocktail_path, { class: "add-button" } %>
</div>
