<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :image, "test" %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
<% end %>
<hr>
<%= link_to "Back to cocktails", cocktails_path, { class: "btn btn-primary" } %>
