<div class="container" id="cocktail-new">

  <div id="cocktail-new-left">
    <%= link_to "<i class='fas fa-arrow-circle-left'></i>".html_safe, cocktails_path(anchor: 'welcome-header'), { class: "btn btn-primary"} %>
  </div>
    <div id="cocktail-new-middle">
      <div class="card-new bg-light"style="width: 24rem;">
        <img src="https://www.muddlebox.com/wp-content/uploads/2018/11/3355-Mezclar-Piccolo-Shaker-Lifestyle-2.jpg" class="card-img-top-new" alt="Cocktail shaker">
          <div class="card-body">
            <%= simple_form_for @cocktail do |f| %>
              <%= f.input :name, :label => "Name", placeholder: 'Gin and tonic' %>
              <%= f.input :directions, :label => "Instructions", placeholder: 'Mix the booze and mixers...' %>
              <%= f.input :image, :label => "Image URL (optional)"%>
              <%= f.submit "Add", { class: "btn btn-primary btn-sm" } do %>
                <i class='fas fa-plus-circle'></i>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  <div id="cocktail-new-right"></div>
</div>


