<div class="container" id="cocktail">

    <div class="card mb-3" style="max-width: 70vw">
      <div class="row no-gutters">
        <div class="col-md-4">
          <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key, class: "card-img" %>
          <% else %>
            <img src="<%= @cocktail.image.empty? ? @generic : @cocktail.image %>" class="card-img" alt="<%= @cocktail.name %>">
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title"><%= @cocktail.name %></h1>
            <hr>
              <div class="cocktail-details">
                <div class="ingredients">
                  <h5 style="font-weight: bold">INGREDIENTS</h5>
                    <% @cocktail.doses.each do |dose| %>
                      <ul>
                        <li>
                          <%= dose.ingredient.name %> | <%= dose.description %>&nbsp&nbsp
                          <%= link_to "<i class='fas fa-minus-circle'></i>".html_safe, cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' }, style: "color:red" %>
                        </li>
                      </ul>
                    <% end %>
                    <%= link_to "<i class='fas fa-plus-circle'></i> Add ingredient".html_safe, new_cocktail_dose_path(@cocktail), { class: "btn-outline-primary btn-sm" } %>
                </div>
                <div class="directions">
                  <h5 style="font-weight: bold">INSTRUCTIONS</h5>
                  <p class="card-text"><%= @cocktail.directions %></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
<hr>
<%= link_to "<i class='fas fa-arrow-circle-left'></i> &nbspBack to cocktails".html_safe, cocktails_path(anchor: 'welcome-header'), { class: "btn btn-primary" } %>

</div>

