<h1><%= @cocktail.name %></h1>

<%= image_tag @cocktail.image, alt: "Cuba Libre", width: "200px" %>
<h2>Ingredients</h2>

<% @cocktail.doses.each do |dose| %>
  [<%= dose.ingredient.name %> | <%= dose.description %>] |
  <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>
<%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail) %>
