<h1><%= @cocktail.name %></h1>
<h2>Add a new dose @ Doses#new</h2>
<p>Find me in app/views/doses/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>

<hr>
<%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %>
